<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Crud_Oprations.Properties.Settings.IT4SolutionsTestConnectionString"
            connectionString="Data Source=DESKTOP-ISK321A\SQLEXPRESS;Initial Catalog=IT4SolutionsTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>